button {
    color:white;
    background-color: black;
    height: 50px;
    width: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom:20px;
}
input{
    height: 50px;
    width: 350px;
    border-radius: 10px;
    border-color: blue;
    margin-top: 20px;
    margin-left:50px;
    margin-right:0px;
}
label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    margin-bottom: 90px;
    margin-left:0px;
}
p{
    font-size: 50px;
}
pre{
    display: inline-block;
}
body{
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.vecteezy.com%2Ffree-photos%2Fbackground&psig=AOvVaw1T21zdb0T07mDDPfLjYiG1&ust=1691215371070000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCIDl5LCqwoADFQAAAAAdAAAAABAD');
}
  
  #box {
    border: 1px solid black;
    margin-top: 50px;
    top: 150px;
    width: 700px;
    height: auto;
   background-color:white;
   margin-right: 50px;
   margin-left: 375px;
   border-radius: 10px;
  }
h1{
    color: rgb(225, 33, 78);
    margin-left: 20px;
    font-size: 50px;
}
